
        .flag-img {
            width: 28px;
            height: 20px;
            object-fit: cover;
            border-radius: 3px;
            display: inline-block;
        }

        .input-group-text img {
            vertical-align: middle;
        }

        /* make select look a bit nicer */
        select.form-select {
            max-width: 100%;
        }

        /* This is for the toasts updated on saturday, october 25, 2025 */
        /* when i need to use it just insert this on my html  <div id="toast" class="toast"></div> */

        .toast {
            visibility: hidden;
            min-width: 260px;
            background: rgba(0, 0, 0, 0.85);
            color: #fff;
            text-align: center;
            border-radius: 12px;
            padding: 14px 18px;
            position: fixed;
            z-index: 9999;
            left: 50%;
            bottom: 30px;
            transform: translateX(-50%);
            font-size: 15px;
            opacity: 0;
            transition: opacity 0.5s ease, bottom 0.5s ease;
        }

        .toast.show {
            visibility: visible;
            opacity: 1;
            bottom: 50px;
        }